    /* Reset */
*{
    padding: 0;
    margin: 0;
}

/* Main Container */

.main-container{
    width: 1440px;
    height: 4706px;
    border: 2px solid blueviolet;
    margin: auto;
}

/* Nav Bar Section */

.nav-bar-main-container{
    width: 842px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-bar-left-section{
   width: 424px;
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
}

.nav-bar-left-section ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
 }

 .nav-bar-left-section ul li{
    font-size: 16px;
    font-weight: 400;
    font-family: montserrat;
    line-height: 20px;
    color: #49362B;
 }

.nav-bar-right-section{
    width: 257px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.nav-bar-right-section .date-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.nav-bar-right-section .date-div h2{
    font-size: 30px;
    font-weight: 700;
    font-family: philosopher;
    line-height: 34px;
    color: #49362B;
}

.nav-bar-right-section .date-div h4{
    font-size: 16px;
    font-weight: 400;
    font-family: montserrat;
    line-height: 20px;
    color: #49362B;
}

.nav-bar-right-section .date-div h3{
    font-size: 16px;
    font-weight: 600;
    font-family: montserrat;
    line-height: 21px;
    color: #49362B;
}

/* Header Section */

.header-main-container{
    width: 1288px;
    height: 680px;
    margin: auto;
    margin: 0 153px;
    /* background-color: goldenrod; */
    background: linear-gradient(to right, white 50%, #dcf0e8 50%);
}

.inner-header-bottom-div{
    width: 1135px;
    display: flex;
    justify-content: space-between;
}

.inner-header-bottom-div .inner-header-left-section,
.inner-header-bottom-div .inner-header-right-section{
    /* margin: auto; */
    width: 35%;
}
.inner-header-bottom-div .inner-header-middle-section{
    width: 405px;
    height: 530px;
}

/* Inner Header Left Section */

.inner-header-left-section h2{
    font-size: 55px;
    font-weight: 700;
    font-family: philosopher;
    line-height: 62px;
    color: #49362B;
    margin-top: 64px;
}

.inner-header-left-section h3{
    /* width: 358px; */
    font-size: 35px;
    font-weight: 700;
    font-family: philosopher;
    line-height: 42px;
    color: #49362B;
    margin: 40px 0;
    opacity: 0.5;
}

.inner-header-left-section button{
   width: 245px;
   height: 60px;
   background-color: #3C725A;
   border: none;
   margin-top: 40px;
   cursor: pointer;
}

.inner-header-left-section button span{
    color: #FDFBFB;
    font-size: 18px;
    font-weight: 600;
    font-family: montserrat;
    line-height: 22px;
 }

 /* Inner Header Middle Section */

.inner-header-middle-section img{
    width: 405px;
    height: 530px;
    border-radius: 4px;
}

/* Inner Header Right Section */

.inner-header-right-section-top-div{
    width: 364px;
    height: 200px;
    background-color: #C8D8D1;
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 88px;
    margin-top: 80px;
}

.inner-header-right-section-top-div p{
    font-size: 18px;
    font-weight: 400;
    font-family: montserrat;
    font-style: italic;
    line-height: 23px;
    padding: 30px 25px;
}

.inner-header-right-section-bottom-div{
    width: 203px;
    margin-left: 25px;
}

.inner-header-right-section-bottom-div ul{
    list-style: none;
}

.inner-header-right-section-bottom-div ul li{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 7px;
    color: #49362B;
}

.inner-header-right-section-bottom-div ul li span{
    font-size: 18px;
    font-weight: 400;
    font-family: montserrat;
    line-height: 21px;
}

/* Second Page */

.second-page-main-container{
    width: 1440px;
    margin: auto;
    display: flex;
}   

.second-page-main-container .about-me-h1-div{
    width: 211px;
    margin: 218px 154px 245px 153px; 
}

.second-page-main-container .about-me-h1-div h1{
    font-size: 55px;
    font-weight: 700;
    font-family: philosopher;
    line-height: 62px;
    color: #49362B;
}

.second-page-main-container .about-me-paragraph-div{
    width: 769px;
    margin: 80px 153px 79px 0;
}

.second-page-main-container .about-me-paragraph-div p{
    font-size: 16px;
    font-weight: 400;
    font-family: montserrat;
    line-height: 22px;
    color: #49362B;
}
    
/* Third Page */

.third-page-main-container{
    width: 1105px;
    height: 595px;
    margin-left: 153px;
    margin-right: 183px;
    margin-bottom: 90px;
}

.third-page-main-container h1{
    font-size: 55px;
    font-weight: 700;
    font-family: philosopher;
    line-height: 62px;
    color: #49362B;
    text-align: center;
    margin-bottom: 55px;
}


.inner-third-page-div{
    width: 1105px;
    height: 505px;
    display: flex;
    justify-content: space-between;
}

.inner-third-page-left-section,
.inner-third-page-middle-section,
.inner-third-page-right-section{
    width: 358px;
    height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 5, 0.25);
}

.inner-third-page-left-section img,
.inner-third-page-middle-section img,
.inner-third-page-right-section img{
    width: 210px;
    height: 150px;
}

.inner-third-page-left-section h3,
.inner-third-page-middle-section h3,
.inner-third-page-right-section h3{
    font-size: 25px;
    font-weight: 700;
    font-family: philosopher;
    line-height: 28px;
    color: #49362B;
    text-align: center;
    /* margin: 35px 0; */
}

.inner-third-page-left-section p,
.inner-third-page-middle-section p,
.inner-third-page-right-section p{
    font-size: 16px;
    font-weight: 400;
    font-family: montserrat;
    line-height: 21px;
    text-align: center;
    /* margin-bottom: 30px; */
}

.inner-third-page-left-section button{
    width: 245px;
    height: 60px;
    background-color: #C8D8D1;
    border: none;
    cursor: pointer;
}

.inner-third-page-middle-section button,
.inner-third-page-right-section button{
    width: 245px;
    height: 60px;
    background-color: #3C725A;
    border: none;
    cursor: pointer;
}

.inner-third-page-left-section button span,
.inner-third-page-middle-section button span,
.inner-third-page-right-section button span{
    font-size: 18px;
    font-weight: 600;
    font-family: montserrat;
    line-height: 22px;
    color: white;
}

/* Fourth Page */

.fourth-page-main-container{
    width: 1440px;
    position: relative;
}

.fourth-page-main-container img{
    width: 1440px;
    height: 746px;
}

.fourth-page-main-container .pause-button-div{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 645px;
    top: 298px;
}

.fourth-page-main-container .pause-button-div img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

